.buttons {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.solicitar {
    margin-top: 30px;
    color: black !important;
    font-family: Tahoma;
    font-weight: 400;
}

a {
    color: blue;
    text-decoration: none;
}

.footer-element {
  width: 33%;
  font-family: sans-serif;
  font-weight: 100;
  color: #3b5998;
}

.footer {
    font-size: 10px;
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 7%;
    width: 100%;
}



.iniciar_sesion_info {
    color: grey !important;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;

}



.iniciar_sesion {
    margin-top: 10%;
}


html {min-height:100%; }

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    height: 100vh;
    }


.box-form {
  display: flex;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;

}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .footer { left: 0;}
}

.box-form .left {
  color: #FFFFFF;
  width: 60%;/*in*/
  min-height: 250px;
  background-size: cover;
  background-image: url("../../../images/background.jpg");
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  /*background: #009c7ab6;*/
  background: #334355;
  opacity: 0.3;
  overflow: hidden;
}

.right-inner {
    margin-top: 20px;
    margin-bottom: 0px;
}

.box-form .right {
  /*padding: 40px;/*out*/
  position: relative;
  width: 40%;
  padding-right:40px;
  padding-left:40px;
  padding-top:40px;
  padding-bottom:40px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
    height: 100%;
  }
  .buttons {
    display: inline;
    margin: 0;
  }
  .links {
    margin-right: 0px !important;
    font-family: "Open Sans", sans-serif;

  }
  .box-form .left {
    width: 100%;
    height: 100%;
  }
}


.iniciar_sesion-title {
    font-size: 25px;
    font-family: Tahoma;
}

.links {
    margin-right: 40px;
    background-color: #3b5998;
    text-decoration: none;

    color: white;
    width: 30%;
  float: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  outline: 0;
  cursor:pointer;
  transition-duration: 0.4s;
}

.links:hover {
    background-color: #37727B;
    color: white;
    transition: all 1s ease;
}